version: '2'

services:
  transmission:
    environment:
      - OPENVPN_PROVIDER=PIA
      - OPENVPN_CONFIG=Sweden
      - OPENVPN_USERNAME=User101
      - OPENVPN_PASSWORD=mySuperP@ssword

# vim: set ft=yaml et ts=2 sw=2 :
